{% include 'header.twig' %}
<body>
  <section id="intro" class="my spectacularly vertical flexibly balanced centered cover layout">
    <div class="my spectacularly thin layout padded item">
      <h1>Give us Money</h1>
      <p>We like money</p>
    </div>
    <div class="cta">
      <a href="#fold" class="my spectacular button">This is a link that looks like a&nbsp;button</a>
    </div>
  </section>
  <section id="fold">
    <div>
      <header>
        <h2>Horses are cool</h2>
      </header>
      <div class="">
        <img src="http://j4p.us/3p3u2m0f0v1r/horse.jpg" alt="A horse in Houtigehage">
      </div>
    </div>
  </section>
  <section class="my spectacularly inverted module effect" style="--module-background: orange; --module-color: black">
    <div>
      <header>
        <h2>Inverted Colors</h2>
        <p>I'm actually orange with black&nbsp;text.</p>
      </header>
    </div>
  </section>
  <section>
    <div class="">
      <header>
        <h2>Neat Grid</h2>
      </header>
      <div class="neat grid">
        <div class="primary module">
          <h3>Primary Module</h3>
          <div>
            <p class="primary">Primary</p>
            <p class="primary light">Primary Light</p>
            <p class="primary dark">Primary dark</p>
          </div>
        </div>
        <div class="secondary module">
          <h3 class="grey">Secondary Module</h3>
          <div>
            <p class="grey">Grey</p>
            <p class="grey light">Grey Light</p>
            <p class="grey dark">Grey dark</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my spectacular typography center layout module">
    <div>
      <header>
        <h2>Typography</h2>
      </header>
      <div class="my spectacularly balanced layout padded item">
        <p><span class="small caps">Small Caps</span></p>
        <p>Hello <span class="xx-small">XX-Small World</span></p>
        <p>Hello <span class="x-small">X-Small World</span></p>
        <p>Hello <span class="smaller">Smaller World</span></p>
        <p>Hello <span class="small">Small World</span></p>
        <p>Hello <span class="medium">Medium World</span></p>
        <p>Hello <span class="larger">Larger World</span></p>
        <p>Hello <span class="large">Large World</span></p>
        <p>Hello <span class="x-large">X-Large World</span></p>
        <p>Hello <span class="xx-large">XX-Large World</span></p>
      </div>
    </div>
  </section>
  <footer role="contentinfo">
    <a href="https://github.com/jpdevries/spectular-workshop" target="_blank">Source Code</a>
  </footer>
  {% include 'scripts.twig' %}
</body>
</html>
