@import "bourbon/bourbon";
@import "neat/neat";
@import "spec/tacular";


@import "spec/straps/buttons";
@import "spec/straps/layout";
@import "spec/straps/typography";

$primary: rebeccapurple;
$base-grey: rgb(120, 120, 120);

$palettes: (
    primary: (
        base:   $primary,
        light:  lighten($primary, 14%),
        dark:   darken($primary, 14%)
    ),
    grey: (
        base:  $base-grey,
        light: lighten($base-grey, 14%),
        dark: darken($base-grey, 14%)
    )
);

@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

$gtMobile: (
  columns: 12,
  gutter: 1rem,
  media: 40.0625em, // 641px
);

/* System Fonts as used by GitHub */
body {
  font-family: var(--font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol");
}

body {
  --module-margin: 0 auto;
  --module-border: none;

  --button-background: rebeccapurple;
  --button-color: white;
  --button-appearance: none;
  --button-border-radius: .4em;
  --button-padding: .5em 1em;
  --button-border: 1px solid rebeccapurple;
}

section {
  header {
    @extend %balanced;
  }
}

a.button, a.btn {
  display: inline-block;
}

.button, .btn {
  &:hover, &:focus {
    --button-background: white;
    --button-color: rebeccapurple;
  }
}

body {
  margin: 0 auto;
  > * {
    @extend %module;

    &:first-child {
      --module-color: $primary;
    }
    &:not([role="contentinfo"]) {
      --module-border-radius: none;
    }
  }
}

.module {
  @extend %module;
}

[role="contentinfo"] {
  --module-background: $primary;
  --module-color: rgb(240, 240, 240);
  --module-border-radius: none;

  text-align: right;
  a {
    color: currentColor;
    &:hover, &:focus {
      background: var(--module-color, rgb(12, 12, 12));
      color: var(--module-background, rgb(240, 240, 240));
    }
  }
}

.inverted {
  @extend %inverted;
}

#intro {
  @extend %greedy-cover;
  h1 {
    font-size: calc(140% + 4vh);
  }
  .cta {
    margin: 0 auto 1rem auto;
  }
  a.button {
    margin-top: 2rem;
  }
}



.neat.grid {
  --module-first-child-margin: 0 auto 1rem auto;

  @include grid-media($gtMobile) {
    @include grid-container;
  }
  > * {
    --background: gainsboro;
    @include grid-media($gtMobile) {
      min-height: 40vh;
    }
  }
  @include grid-media($gtMobile) {
    > .primary {
      @include grid-column(6);
    }
    > .secondary {
      @include grid-column(6);
    }
  }
}

.primary {
  color: palette(primary, light);
  &.light {
    color: palette(primary, light);
  }
  &.dark {
    color: palette(primary, dark);
  }
}

.grey {
  color: palette(grey, light);
  &.light {
    color: palette(grey, light);
  }
  &.dark {
    color: palette(grey, dark);
  }
}
